.contacts {
   width: 200px;
   padding: 16px 0 40px 0;
   &__email {
      margin-bottom: 12px;
   }
   &__email-link, &__phone-link {
      color: $text;
      text-decoration: none;
   }
   &__email-link:hover, &__phone-link:hover {
      color: $subText;
   }
   &__phone {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.6px;
      color: 1B1C21;
   }
}