.feedback {
   display: none;
   width: 100%;
   height: 100vh;
   position: fixed;
   z-index: 3;
   justify-content: flex-end;
   &--active {
      display: flex;
      background-color: rgba(255, 255, 255, 0.7);
   }
   &__content {
      display: inline-block;
      background-color: $bgColor;
      box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
                  -16px 0px 52px rgba(14, 24, 80, 0.1);
      width: 320px;
      height: 100%;
      padding: 24px 16px;
      z-index: 2;
   }
   &__shadow {
      z-index: 1;
      box-shadow: inset -2px 0px 4px rgba(69, 79, 126, 0.02),
               inset 16px 0px 52px rgba(14, 24, 80, 0.2);
      width: calc(100% - 320px);
      height: 100%;
      background-image: linear-gradient(255, 255, 255, 0.6);
   }
   &__icon {
      display: block;
   }
   &__title {
      margin-top: 40px;
      letter-spacing: -0.6px;
      position: relative;
   }
   &__title::before {
      content: "";
      width: 8px;
      height: 40px;
      border-radius: 10px;
      background: linear-gradient(to right, transparent 4px, $clickColor 4px);
      position: absolute;
      left: -20px;
      top: -4px;
      overflow: hidden;   
   }
   &__button {
      width: 136px;
      float: right;
   }
}
@media (min-width: 768px) {
   .feedback {
      &__content {
         width: 440px;
      }
      &__icon {
         position: absolute;
         right: 473px;
         top: 32px;
      }
      &__title {
         margin-top: 16px;
      }
      &__title::before {
         display: none;
      }
   }
}