.feedback {
   //display: none;
   width: 100%;
   height: 100%;
   display: flex;
   display: none;
   justify-content: space-between;
   position: absolute;
   z-index: 3;
   right: 0;
   color: #1B1C21;
   &--call {
      display: none;
   }
   &__content {
      background-color: white;
      width: 320px;
      height: 100%;
      padding: 24px 16px;
      z-index: 2;
   }
   &__shadow {
      z-index: 1;
      box-shadow: inset -2px 0px 4px rgba(69, 79, 126, 0.02),
               inset 16px 0px 52px rgba(14, 24, 80, 0.2);
      width: calc(100% - 320px);
      height: 100%;
      background-color: white;
      opacity: 0.8;
   }
   &__icon {
      display: block;
   }
   &__title {
      margin-top: 40px;
      letter-spacing: -0.6px;
      position: relative;
   }
   &__title::before {
      content: "";
      width: 8px;
      height: 40px;
      border-radius: 10px;
      background: linear-gradient(to right, transparent 4px,#41F6D7 4px);
      position: absolute;
      left: -20px;
      top: -4px;
      overflow: hidden;   
   }
   &__button {
      width: 136px;
      float: right;
   }
}
@media (min-width: 768px) {
   .feedback {
      &__content {
         width: 440px;
      }
      &__shadow {
         width: calc(100% - 440px);
      }
      &__icon {
         position: absolute;
         right: 473px;
         top: 32px;
      }
      &__title {
         margin-top: 16px;
      }
      &__title::before {
         display: none;
      }
   }
}