.input {
   border: 1px solid #eaeaea;
   border-radius: 8px;
   padding: 12px;
   width: 100%;
   color: #B5B6BC;
   margin-bottom: 16px;
   &--textarea {
      height: 118px;
      vertical-align: sub;
      &::-webkit-input-placeholder {
         transform: translateY(-160%);
       }
      &:-moz-placeholder {
         transform: translateY(-160%);
       }
      & :-ms-input-placeholder {
         transform: translateY(-160%);
       }
      &::-moz-placeholder {
         transform: translateY(-160%);
       }
   }
}
