.languages {
   display: flex;
   width: 87px;
   justify-content: space-between;
   padding-bottom: 24px;
   font-weight: 500;
   &__radio {
      display: none;
   }
   &__radio:checked + span{
      color: $subText;
   }
   &--active {
      color: $subText;
   }
   &__ch, &__en, &__ru {
      cursor: pointer;
   }
}
