$bgColor: white;
$contentBgColor: #F8F8F8;
$shadowColor: #EAEAEA;
$text: #1B1C21;
$buttonColor: #FF3E79;
$buttonActiveColor: #ff8eb0;
$subText: #7E7E82;
$clickColor: #41F6D7;
$menuBorder: #B8FFEC;
$headerBorder: #D9FFF5;
$inputText: #B5B6BC;